body {
    font-family: "Bai Jamjuree", sans-serif;
    color: #2EC2A7; 
}

h3 {
    text-align: center;
}

#main-form {
    position: absolute;
    left : 5px;
    top: 5px;
    padding: 10px;
    background-color: #18182a;
    border-radius: 20px;
    width: 250px;
}

#img {
    margin-left: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    width: 480px;
    height: auto;
}